@font-face {
  font-family: 'Agave Permissive Nerd Font';
  src: url('/font/AgavePNF.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: #1c2324;
    color: #a59dd8;
    align-items: center;
    font-family: "Agave Permissive Nerd Font", sans-serif;
}

main {
    margin: 0;
    padding: 0;
    background-color: #1c2324;
    color: #a59dd8;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: "Agave Permissive Nerd Font", sans-serif;
}

header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-top: 15px;
    margin: 15px auto;
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 25px;
} 

.pc h1 {
    font-size: 24px;
    margin-bottom: 0;
} 

.container a {
    text-decoration: none;
    color: #a59dd8;
}

a {
    text-decoration: underline;
    color: #a59dd8;
}

header a {
    text-decoration: none;
}

.item {
    width: 100%;
    background-color: #555371;
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

.imgbox {
    height: 123.12px;
    width: 123.12px;
    border-radius: 61.56px;
    overflow: hidden;
}

.imgbox img {
    height: 100%;
}

.icon {
    margin: 0 8px;
    width: 44px;
    height: 44px;
}

.container .top p{
    margin: 0px;
    padding: 0px;
}

.pc {
    width: 91%; 
    max-width: 1000px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.pc img {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0.7em;
    border: 0.15em solid #a59dd8;     
    border-radius: 8px;        
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 

    max-height: 16em;
    max-width: 100%;
    display: block;
}

.pc p {
    text-align: justify;
}

footer {
    text-align: center;
    color: #555371;
}

footer a{
    color: #555371;
    text-decoration: underline;
}

.pnf {
    text-align: center;
}

.pnf h1{
    font-size: 200px;
    margin: 0px;
}

.pnf h2{
    font-size: 24px;
}

.left {
    -webkit-text-stroke: 1px #a59dd8;
    margin: 0;
}

.source {
    margin: 0;
}
