<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - charged's Site</title>
    <link rel="icon" href="/images/branding/circle_logo.png" type="image/png">
    <link rel="stylesheet" href="/styles.css">

    <meta property="og:title" content="{{ page.title | default: 'charged' }} - charged's Site">
    <meta property="og:description" content="A minimal hub for charged's platforms, as well as a personal website.">
    <meta property="og:image" content="https://charged1.carrd.co/assets/images/image01.jpg">
    <meta property="og:url" content="https://charged1.ca{{ page.url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <div class="left">
            <a href="/">
                <p>charged1.ca</p>
            </a>
        </div>

        <div class="source">
            <a href="/blogs">
                Blogs
            </a>

            |

            <a href="https://codeberg.org/charged/website">
                Source Code
            </a>
        </div>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>
            This is free and unencumbered software released into the public domain.<br>
            For more information, please refer to <a href="https://unlicense.org/">https://unlicense.org/</a>
        </p>
    </footer>
</body>

</html>
